@import url(https://fonts.googleapis.com/css?family=Roboto);

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*********************************
           card stylesheet
 *********************************/

* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    height: 100%;
    zoom: 1;
}
h1, h3 {
    display: block;
    margin: 10px;
}
h1 {
    color: #666;
    font-size: 1.2em;
    font-weight: bold;
}
h3 {
    color: #888;
}
p {
    font-size: 1em;
    line-height: 1.4em;
}
a {
    color: white;
}
a, a:hover {
    text-decoration: none;
}
blockquote {
    color: #888;
    margin: 20px 0 20px 20px;
}
blockquote:before, blockquote:after {
    content: '"';
}
input[type="button"] {
    background: blue;
    border: none;
    color: white;
    text-transform: uppercase;
    width: 100px;
    height: 45px;
    padding: 5px;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
}
input.discard {
    background: black;
}
.board {
    position: relative;
    background: transparent;
    margin: 3em;
    width: 99%;
    height: auto;
}
.card {
    position: relative;
    display: inline-block;
    background: transparent;
    color: #000;
    width: 150px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
}
.suit {
    position: relative;
    color: #AAA;
    text-align: left;
}
.card .face {
    position: absolute;
    border: 1px solid #333;
    color: white;
    width: 150px;
    height: 200px;
    line-height: 3em;
    text-align: center;
    text-transform: capitalize;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #555;
}
.card .front {
    background: black;
    transform: rotateX(0deg) rotateY(0deg);
    transition: all .4s ease-in-out;
    backface-visibility: visible;
    z-index: 10;
}
/*.card:nth-child(1) {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-45deg);
    animation: drop1 .5s ease-in;
}
.card:nth-child(2) {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-20deg);
    animation: drop2 .5s ease-in;
}
.card:nth-child(3) {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    animation: drop3 .5s ease-in;
}
.card:nth-child(4) {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(20deg);
    animation: drop4 .5s ease-in;
}
.card:nth-child(5) {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(40deg);
    animation: drop5 .5s ease-in;
}*/
@keyframes drop1 {
    0% {
        transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(-25deg);
    }
    100% {
        transform: scale(.97, .97) rotateX(0deg) rotateY(0deg) rotateZ(-45deg);
    }
}
@keyframes drop2 {
    0% {
        transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(-10deg);
    }
    100% {
        transform: scale(.97, .97) rotateX(0deg) rotateY(0deg) rotateZ(-20deg);
    }
}
@keyframes drop3 {
    0% {
        transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(-50deg);
    }
    50% {
        transform: rotateX(0deg) rotateY(50deg) rotateZ(25deg);
    }
    100% {
        transform: scale(.98, .98) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
}
@keyframes drop4 {
    0% {
        transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(10deg);
    }
    100% {
        transform: scale(.98, .98) rotateX(0deg) rotateY(0deg) rotateZ(20deg);
    }
}
@keyframes drop5 {
    0% {
        transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
        transform: rotateX(0deg) rotateY(50deg) rotateZ(-10deg);
    }
    100% {
        transform: scale(.98, .98) rotateX(0deg) rotateY(0deg) rotateZ(40deg);
    }
}
.card .back {
    background: red;
    transform: rotateX(0deg) rotateY(180deg);
    transform-style: preserve-3d;
    transition: all .4s ease-in-out;
    backface-visibility: hidden;
    z-index: 5;
}
.card.flip .front {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: all .4s ease-in-out;
    backface-visibility: hidden;
    z-index: 900;
}
.card.flip .back {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transition: all .4s ease-in-out;
    backface-visibility: visible;
    z-index: 1000;
}
.center-screen {
    position: absolute;
    top: 30%;
    left: 40%;
    margin-top: -50px;
    margin-left: -50px;
}