
body {
    width: 100%;
    height: 100%;
    background-image: url("../pictures/wood.jpg");
    background-size: cover;
}

.wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: Magneto;
}

.content {
    color: white;
    display: table-cell;
    text-align: center;
    text-shadow: 1px 1px 10px black;
    font-size: 40px;
}

a:link {
    text-decoration:none;
}
a {
    color: black;
}