@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*********************************
           card stylesheet
 *********************************/
html {
    overflow-x: hidden;
    overflow-y: hidden;
    background: lightgray;
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    height: 100%;
    zoom: 1;
}
h1, h3 {
    display: block;
    margin: 10px;
}
h1 {
    color: #666;
    font-size: 1.2em;
    font-weight: bold;
}
h3 {
    color: #888;
}
p {
    font-size: 1em;
    line-height: 1.4em;
}
a {
    color: white;
}
a, a:hover {
    text-decoration: none;
}
blockquote {
    color: #888;
    margin: 20px 0 20px 20px;
}
blockquote:before, blockquote:after {
    content: '"';
}
.board {
    position: relative;
    background: transparent;
    margin: 3em;
    width: 99%;
    height: auto;
}
.card {
    position: relative;
    display: inline-block;
    background: transparent;
    width: 150px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
}
.card .face {
    position: absolute;
    border: 1px solid #333;
    color: white;
    width: 135px;
    height: 200px;
    line-height: 3em;
    text-align: center;
    text-transform: capitalize;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #555;
}
.card .faceCard {
    position: absolute;
    border: 1px solid #333;
    color: white;
    width: 100px;
    height: 150px;
    line-height: 3em;
    text-align: center;
    text-transform: capitalize;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #555;
}
.card .base1 {
    background-image: url("../pictures/increaseCard.jpg");
    background-repeat: no-repeat;
    z-index: 10;
}
.card .base2 {
    background-image: url("../pictures/decreaseCard.jpg");
    background-repeat: no-repeat;
    z-index: 10;
}
.card .stack {
    background: white;
    z-index: 10;
}
.card .hand {
    background: white;
    z-index: 10;
}
.card .pick {
    background-image: url("../pictures/pick.jpg");
    z-index: 10;
}
/*.card.flip .front {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: all .4s ease-in-out;
    backface-visibility: hidden;
    z-index: 900;
}*/
.pick-position {
    position: absolute;
    top: 20%;
    left: 10%;
    margin-top: -50px;
    margin-left: -50px;
}
.board-position {
    position: absolute;
    top: 10%;
    left: 30%;
    margin-top: -50px;
    margin-left: -50px;
}
.hand-position {
    position: absolute;
    top: 92%;
    left: 36%;
    margin-top: -50px;
    margin-left: -50px;
}
.chat-position {
    position: absolute;
    left: 72%;
    margin-left: 40px;
    width: 390px;
    height: 1080px;
}

#pick > span {
    margin-right: -160px;
}
#hand > span {
    margin-right: -100px;
}
#hand > span:nth-child(1) {
    padding-top: 17px;
    transform: rotateZ(-20deg);
    animation: drop1 .5s ease-in;
}
#hand > span:nth-child(2) {
    padding: 5px;
    transform: rotateZ(-10deg);
    animation: drop2 .5s ease-in;
}
#hand > span:nth-child(3) {
    transform: rotateZ(-5deg);
    animation: drop3 .5s ease-in;
}
#hand > span:nth-child(4) {
    transform: rotateZ(0deg);
    animation: drop4 .5s ease-in;
}
#hand > span:nth-child(5) {
    transform: rotateZ(5deg);
    animation: drop5 .5s ease-in;
}
#hand > span:nth-child(6) {
    transform: rotateZ(10deg);
    animation: drop6 .5s ease-in;
}
#hand > span:nth-child(7) {
    padding-top: 10px;
    transform: rotateZ(15deg);
    animation: drop7 .5s ease-in;
}
#chat {
    border: 3px solid #333;
}
